<a href="/"><img class="top_menu_img" src="/jack-in-the-box-text.png">
</a>
<a href="/about">Jack in the boxとは</a>
<a href="/posts/index">投稿一覧</a>

<div class="about-main">
    <h2>Jack in the boxとは</h2>
    <p>
      Jack in the boxとは、2023年に設立したダンスサークルです。<br>
      老若男女問わず様々なカルチャーを学び、楽しむ機会を作ることが出来るサークル活動。<br>
      そんなサークルを目指して創設されました。<br>
      今が始めどき！<br>
      素敵な仲間たちと共に良い思い出をつくりませんか
    </p>
    <img class="about-img" src="/img/about.jpg">
</div>