<a href="/"><img class="top_menu_img" src="/jack-in-the-box-text.png">
</a>
<a href="/about">Jack in the boxとは</a>
<a href="/posts/index">投稿一覧</a>

<div class="main top-main">
<div class="profile_top_image">
</div>
  <div class="top-message">
    <h2>みんなで素敵な思い出を</h2>
    <p>jack in the boxの世界へようこそ！</p>
  </div>
    <ul class="home_menu">
      <li class="button1"><%= link_to("サークルを作る","/board")%></li>
      <li class="button1"><%= link_to("サークルに入る","/member")%></li>
    </ul>
</div>