<a href="/"><img class="top_menu_img" src="/jack-in-the-box-text.png">
</a>
<a href="/about">Jack in the boxとは</a>
<a href="/posts/index">投稿一覧</a>

<div class="info-top">
</div>
<div class="maininfo-index">
  <div class="container">

    <h1>お知らせ
    </h1>
<div>その１</div>
<div>その２</div>
  </div>
</div>